body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #30394f;
}

input[type=email], input[type=password] {
  width: 95%;
	padding: 10px;
	margin-top: 5px;
  border: 1px solid #ccc;
	height: 20px;
}

button {
  width: 100%;
	height: 40px;
	border-radius: 3px;
	border: none;
	color: #fff;
	background: #2ed897;
	letter-spacing: 1px;
	font-size: 14px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	transition: 0.3s ease-in-out;
}

button:hover {
	opacity: 0.9;
	border-bottom: 1px solid #727F90;
}

button:focus {
  outline: none;
}

.container {
	border: 2px solid #f1f1f1;
	background-color: #fff;
	border-radius: 3px;
}

.strengthMeter {
	line-height: 5px;
	letter-spacing: 1px;
}

.icon {
	width: 10px;
	height: 10px;
}

.spaceTop {
	margin-top: 20px;
}

.errText {
	color: #D8000C;
	font-size: 10px;
}
